.cards {
  padding: 2px;
  display: inline-block;
  background-color:none;
}
.MuiCardContent-root {
  background-color: rgb(0, 119, 255);
  color: black;
}
.MuiTypography-root {
  background-color: rgb(0, 119, 255);
}
