.search{
  width: 100%;
  display: flex;
}
.pesquisa{
  width: 25%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.pesquisa .textField{
  width: 100%;
  padding: 0;
}
.cards {
  display: inline-block;
}
.genero {
  width: 50%;
  margin-left: 0px;
  padding: 0;
  display: inline-block;
}
.genero button{
  height: 56px;
  font-size: 10px;
  margin-right: 10px;
  color: black;
}
.populares {
  width: 25%;
  display: inline-block;
}
.populares button{
  height: 56px;
  font-size: 10px;
  color: black;
}
.header{background: rgb(9,64,121);
  background: linear-gradient(90deg, rgba(9,64,121,0.9979342078628326) 0%, rgba(0,121,255,1) 100%);
}
*{
  margin: 0;
  padding: 0;
}